@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  width: 0; /* Hilangkan scrollbar secara visual */
  height: 0;
}

/* Browser Modern */
.scrollbar-hide {
  scrollbar-width: none; /* Hilangkan scrollbar untuk Firefox */
  -ms-overflow-style: none; /* Hilangkan scrollbar untuk Edge lama */
}
